<h1>Show Page List</h1>
<p id="notice"><%= notice %></p>
<body style="background-color:papayawhip;">

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
    <% if @list.photo.attached? %>
      <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

  <strong>Bookmark:</strong>
  <% @list.bookmarks.each do |bookmark|%>
    <p><%= bookmark.comment%></p>
    <%= link_to "Delete Bookmark", bookmark_path(bookmark),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  <% end %>
</p>

<%= link_to "Return To Source", lists_path %>
<%= link_to 'Leave Your Mark', new_list_bookmark_path(@list) %>
